name: Test

on:
  workflow_call:
    inputs:
      runs-on: 
        default: 'ubuntu-latest'
        required: false
        type: string

jobs:
  test:
    runs-on: ${{ inputs.runs-on }}
    strategy:
      matrix:
        node: [ 16, 18 ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - uses: austenstone/.github/.github/actions/npm-ci-cache@main
      - run: npm test
