name: Lint

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     node: [ 14, 16, 18 ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - uses: austenstone/.github/.github/actions/npm-ci-cache@main
      - run: npm run lint
