name: Build

on:
  workflow_call:

env:
  dist: dist/${{ github.event.repository.name }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        cache: 'npm'
    - uses: actions/cache@v3
      id: cache-nodemodules
      env:
        cache-name: cache-node-modules
      with:
        path: node_modules
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - run: npm ci
      if: steps.cache-nodemodules.outputs.cache-hit != 'true'
    - run: npm run build -- --base-href /${{ github.event.repository.name }}/
    - run: cp ${{ env.dist }}/index.html ${{ env.dist }}/404.html
    - uses: actions/upload-artifact@v3
      with:
        name: dist
        path: ${{ env.dist }}
